# Python
__pycache__/
*.py[cod]
*.egg-info/
.pyc
dist/
build/

# Output (no subimos archivos generados)
output/
*.png

# IDEs
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

.venv/
.claude/
